# Ignore everything in the wandb, ckpt, and old subdirectories
wandb/
ckpt/
old/

# Ignore the train.jsonl file
train.jsonl

# Ignore all .pyc files
*.pyc

# Ignore all __pycache__ directories
__pycache__/
